body {
    font-family: Arial;
    padding: 20px;
}

.controls {
    margin-bottom: 20px;
}

pre {
    background: #111;
    color: #0f0;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
}
